@using PagedList.Mvc
@using PagedList;

@model IPagedList<MoviePenguin.Models.Movie>

@{
    ViewBag.Title = "CategoryPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var cate = (MoviePenguin.Models.Category)ViewBag.cate;
    var listMovieNew = (List<MoviePenguin.Models.Movie>)ViewBag.listMovieNew;
}

<div class="general-agileits-w3l">
    <div class="w3l-medile-movies-grids">

        <!-- /movie-browse-agile -->

        <div class="movie-browse-agile">
            <!--/browse-agile-w3ls -->
            <div class="browse-agile-w3ls general-w3ls">
                <div class="tittle-head">
                    <h4 class="latest-text">Phim  </h4>
                    <div class="container">
                        <div class="agileits-single-top">
                            <ol class="breadcrumb">
                                <li class="active"></li>
                            </ol>
                        </div>
                    </div>
                </div>


                <div class="container">

                    <h2 class="h2 section-title" href="/Movie/CategoryPage/@cate.CategoryID">Phim thể loại @cate.Name</h2>

                    <ul class="movies-list">
                        @foreach (var po in Model)
                        {
                            <li>
                                <div class="movie-card">

                                    <a href="~/Movie/MovieDetail/@po.MovieID">
                                        <figure class="card-banner">
                                            <img src="~/@po.Image" alt="Moon Knight movie poster">
                                        </figure>
                                    </a>
                                    <div class="title-wrapper">
                                        <a href="~/Movie/MovieDetail/@po.MovieID">
                                            <h3 class="card-title">@po.Name</h3>
                                        </a>
                                        <time datetime="2022">@po.Year</time>
                                    </div>
                                    <div class="card-meta">
                                        <div class="badge badge-outline">2K</div>

                                        <div class="duration">
                                            <ion-icon name="time-outline"></ion-icon>
                                            <time datetime="PT47M">47 min</time>
                                        </div>

                                        <div class="rating">
                                            <ion-icon name="star"></ion-icon>

                                            <data>@po.Rate</data>
                                        </div>
                                    </div>

                                </div>
                            </li>
                        }

                    </ul>

                </div>

            </div>
            <!--//browse-agile-w3ls -->      
            <div style="text-align:center">
                <ul>
                    <li>
                        @Html.PagedListPager(Model, Page => Url.Action("CategoryPage", new { Page }), PagedListRenderOptions.PageNumbersOnly)
                    </li>
                </ul>

            </div>

        </div>      
    </div>
    <!-- //w3l-medile-movies-grids -->
</div>
<!-- //comedy-w3l-agileits -->