@using MoviePenguin.Models
@using MoviePenguin.DAO
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string key = Request.QueryString["searchKey"];
    List<Movie> result = new List<Movie>();
}

@{
    if (string.IsNullOrEmpty(key))
    {

    }
    else
    {
        if (key == " " || key.Length < 3)
        {
            <div class="tittle-head">
                <h4 class="latest-text">TÌM KIẾM</h4>
                <div class="container">
                    <div class="agileits-single-top">
                        <ol class="breadcrumb">
                            <li class="active"><a href="#">Trang chủ / Không tìm thấy kết quả với từ khoá "@key"</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        }
        else
        {
            result = new MovieDao().SearchByKey(key);
            <div class="general-agileits-w3l">
                <div class="w3l-medile-movies-grids">

                    <!-- /movie-browse-agile -->

                    <div class="movie-browse-agile">
                        <!--/browse-agile-w3ls -->
                        <div class="browse-agile-w3ls general-w3ls">
                            <div class="tittle-head">
                                <h4 class="latest-text">TÌM KIẾM</h4>
                                <div class="container">
                                    <div class="agileits-single-top">
                                        <ol class="breadcrumb">

                                            <li class="active"><a href="~/Home/Index">Trang Chủ / Kết quả tìm kiếm với từ khoá "@key"</a></li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                            <div class="container">



                                <ul class="movies-list">
                                    @foreach (var po in result)
                                    {
                                        <li>
                                            <div class="movie-card">

                                                <a href="~/Movie/MovieDetail/@po.MovieID">
                                                    <figure class="card-banner">
                                                        <img src="~/@po.Image" alt="Moon Knight movie poster">
                                                    </figure>
                                                </a>
                                                <div class="title-wrapper">
                                                    <a href="~/Movie/MovieDetail/@po.MovieID">
                                                        <h3 class="card-title">@po.Name</h3>
                                                    </a>
                                                    <time datetime="2022">@po.Year</time>
                                                </div>
                                                <div class="card-meta">
                                                    <div class="badge badge-outline">2K</div>

                                                    <div class="duration">
                                                        <ion-icon name="time-outline"></ion-icon>
                                                        <time datetime="PT47M">47 min</time>
                                                    </div>

                                                    <div class="rating">
                                                        <ion-icon name="star"></ion-icon>

                                                        <data>@po.Rate</data>
                                                    </div>
                                                </div>

                                            </div>
                                        </li>
                                    }

                                </ul>

                            </div>
                            <!-- /latest-movies1 -->

                        </div>
                    </div>
                </div>
            </div>

        }
    }
}





